### Python ###
# Byte-compiled
__pycache__/

### Jupyter Notebook ###
.ipynb_checkpoints

### Data folders and files ###
*data*
!*data*.ipynb
!*data*.html
Simplified
*.fif
*.nii*
*.json

### RSA demos ###
*_demos